<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MobileFP_EnglishQuizlet"
        tools:targetApi="31">
        <activity
            android:name=".MainMenu.MainActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".AuthencationActivities.LoginNavLayout"
            android:exported="true">

        </activity>

        <activity android:name=".AuthencationActivities.SignupActivity"
            android:exported="true">

        </activity>
        <activity android:name=".AuthencationActivities.LoginActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainMenu.MainLayout"
            android:exported="true">

        </activity>

        <activity android:name=".MainMenu.LibraryFragment"
            android:exported="true">

        </activity>

        <activity android:name=".Library.CreateTopicActivity"
            android:exported="true">

        </activity>

        <activity android:name=".Library.SettingCreateTopicLayout"
            android:exported="true">

        </activity>

        <activity android:name=".Proflie.ProfileLayout"
            android:exported="true">

        </activity>

        <activity android:name=".Proflie.SettingProfileLayout"
            android:exported="true">

        </activity>

        <activity android:name=".Proflie.AchievementLayout"
            android:exported="true">

        </activity>

        <activity android:name=".DetailPages.TopicDetailActivity"
            android:exported="true">

        </activity>

        <activity android:name=".StudyMode.FlashCard.TermFlipItem"
            android:exported="true">

        </activity>

        <activity android:name=".Library.TermItem"
            android:exported="true">

        </activity>

        <activity android:name=".StudyMode.FlashCard.FlashcardModeLayout"
            android:exported="true">

        </activity>

        <activity android:name=".StudyMode.MultipleChoiceModeLayout"
            android:exported="true">

        </activity>

        <activity android:name=".StudyMode.TypoModeLayout"
            android:exported="true">

        </activity>

        <activity android:name=".StudyMode.ResultsLayout"
            android:exported="true">

        </activity>

        <activity android:name=".StudyMode.StatisticResultLayout"
            android:exported="true">


        </activity>

        <activity android:name=".MainMenu.DiscoverFragment"
            android:exported="true">

        </activity>

        <activity android:name=".Library.RankingLayout"
            android:exported="true">

        </activity>


        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>