<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MobileFP_EnglishQuizlet"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".Login_NAV_Layout"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Sign_Up_Layout"
            android:exported="true">

        </activity>
        <activity android:name=".Login_Layout"
            android:exported="true">

        </activity>

        <activity android:name=".Main_Layout"
            android:exported="true">

        </activity>

        <activity android:name=".Library_Null"
            android:exported="true">

        </activity>

        <activity android:name=".Create_Topic"
            android:exported="true">

        </activity>

        <activity android:name=".Setting_Create_Topic_Layout"
            android:exported="true">

        </activity>

        <activity android:name=".Profile_Layout"
            android:exported="true">

        </activity>

        <activity android:name=".Setting_Profile_Layout"
            android:exported="true">

        </activity>

        <activity android:name=".Achievement_Layout"
            android:exported="true">

        </activity>

        <activity android:name=".Detail_Topic_Layout"
            android:exported="true">

        </activity>

        <activity android:name=".Term_Flip_Item"
            android:exported="true">

        </activity>

        <activity android:name=".Term_Item"
            android:exported="true">

        </activity>
        <activity android:name=".Flashcard_Mode_Layout"
            android:exported="true">

        </activity>

        <activity android:name=".MultipleChoice_Mode_Layout"
            android:exported="true">

        </activity>

        <activity android:name=".Typo_Mode_Layout"
            android:exported="true">

        </activity>

        <activity android:name=".Results_Layout"
            android:exported="true">

        </activity>

        <activity android:name=".Statistic_Result_Layout"
            android:exported="true">


        </activity>

        <activity android:name=".Discover_Layout"
            android:exported="true">

        </activity>

        <activity android:name=".Ranking_Layout"
            android:exported="true">

        </activity>


        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>